flows.json
[
    {
        "id": "e1f41c5e52415a27",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a57d5299cb083183",
        "type": "victron-input-battery",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.battery/277",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "ef3bfcabf74f1185"
            ]
        ]
    },
    {
        "id": "ef3bfcabf74f1185",
        "type": "ui_gauge",
        "z": "e1f41c5e52415a27",
        "name": "percentuale carica",
        "group": "7ed915b498164eb4",
        "order": 1,
        "width": 5,
        "height": "3",
        "gtype": "gage",
        "title": "Livello di carica",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "51cd9a3c61208b61",
        "type": "victron-input-battery",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.battery/277",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "Elly shunt"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "type": "float",
            "name": "Battery voltage (V)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "8581462e19b10275"
            ]
        ]
    },
    {
        "id": "8581462e19b10275",
        "type": "ui_gauge",
        "z": "e1f41c5e52415a27",
        "name": "tensione batteria servizio",
        "group": "7ed915b498164eb4",
        "order": 2,
        "width": 5,
        "height": "3",
        "gtype": "gage",
        "title": "Tensione batteria",
        "label": "V",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "11",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "4724da0f5d57009a",
        "type": "victron-input-battery",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.battery/277",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "Elly shunt"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "type": "float",
            "name": "Battery current (A)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "4b7521e23807fed4"
            ]
        ]
    },
    {
        "id": "4b7521e23807fed4",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "7ed915b498164eb4",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Corrente Ah",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ed337f2ecc567b6",
        "type": "victron-input-battery",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.battery/277",
        "path": "/TimeToGo",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "Elly shunt"
        },
        "pathObj": {
            "path": "/TimeToGo",
            "type": "float",
            "name": "Time to go (s)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "no",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "7662d092378d8afc"
            ]
        ]
    },
    {
        "id": "4cab8b13a9c8396e",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "7ed915b498164eb4",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Time to go Hours",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "7662d092378d8afc",
        "type": "function",
        "z": "e1f41c5e52415a27",
        "name": "function 1",
        "func": "// Get the input temperature in Fahrenheit from msg.payload\nvar secondsToGo = msg.payload;\n\n// Convert Fahrenheit to Celsius\nvar hoursToGo = Math.round((secondsToGo / 3600)[1]);\n\n// Store the result in msg.payload\nmsg.payload = hoursToGo;\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "4cab8b13a9c8396e"
            ]
        ]
    },
    {
        "id": "354e2b1e505330d4",
        "type": "victron-input-battery",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.battery/277",
        "path": "/Dc/1/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "Elly shunt"
        },
        "pathObj": {
            "path": "/Dc/1/Voltage",
            "type": "float",
            "name": "Starter battery voltage (V)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "a3aa69092eddca78"
            ]
        ]
    },
    {
        "id": "a3aa69092eddca78",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "b36f20ab8bfa4e53",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Tensione V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "ce0f0a488cce0ac3",
        "type": "victron-input-battery",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.battery/277",
        "path": "/History/MinimumStarterVoltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "Elly shunt"
        },
        "pathObj": {
            "path": "/History/MinimumStarterVoltage",
            "type": "float",
            "name": "Minimum starter voltage (V DC)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "169f7d3639082672"
            ]
        ]
    },
    {
        "id": "169f7d3639082672",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "b36f20ab8bfa4e53",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Minima V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "f13ecfe7349bee07",
        "type": "victron-input-temperature",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.temperature/24",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/24",
            "name": "Temp. Batteria servizi"
        },
        "pathObj": {
            "path": "/Temperature",
            "type": "float",
            "name": "Temperature (°C)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "ebc10199f409f648"
            ]
        ]
    },
    {
        "id": "ebc10199f409f648",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "7ed915b498164eb4",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Temp batt 1 °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "d0cdde43c7d1d7af",
        "type": "victron-input-temperature",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.temperature/24",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/24",
            "name": "Temp. Batteria servizi"
        },
        "pathObj": {
            "path": "/Temperature",
            "type": "float",
            "name": "Temperature (°C)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "da6cd11fe2237f26"
            ]
        ]
    },
    {
        "id": "da6cd11fe2237f26",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "7ed915b498164eb4",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Temp batt 2 °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "24fa71ce924c54de",
        "type": "victron-input-vebus",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/L1/V",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 12/3000/120-32"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/L1/V",
            "type": "float",
            "name": "Input voltage phase 1 (VAC)"
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "77c30d089b832cf0"
            ]
        ]
    },
    {
        "id": "77c30d089b832cf0",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "309b6789dda4c4b5",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Input VAC V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "0b7945bdf653da30",
        "type": "victron-input-vebus",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/Out/L1/P",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 12/3000/120-32"
        },
        "pathObj": {
            "path": "/Ac/Out/L1/P",
            "type": "float",
            "name": "Output power phase 1 (W)"
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "84d76e3c8ffb30d0"
            ]
        ]
    },
    {
        "id": "84d76e3c8ffb30d0",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "309b6789dda4c4b5",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Power AC W",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "68503ff33cb36237",
        "type": "victron-output-vebus",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 12/3000/120-32"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "remarks": "<p>Note that <tt>/ModeIsAdjustable</tt> needs to be set to 1.</p> ",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1210,
        "y": 820,
        "wires": []
    },
    {
        "id": "754bcb724baec22b",
        "type": "ui_switch",
        "z": "e1f41c5e52415a27",
        "name": "",
        "label": "Inverter",
        "tooltip": "",
        "group": "309b6789dda4c4b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 820,
        "wires": [
            [
                "934b583faf984195"
            ]
        ]
    },
    {
        "id": "934b583faf984195",
        "type": "change",
        "z": "e1f41c5e52415a27",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 820,
        "wires": [
            [
                "68503ff33cb36237"
            ]
        ]
    },
    {
        "id": "6004cb2f32768b6a",
        "type": "victron-input-solarcharger",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.solarcharger/278",
        "path": "/Pv/V",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/278",
            "name": "BlueSolar Charger MPPT 100/30 rev3"
        },
        "pathObj": {
            "path": "/Pv/V",
            "type": "float",
            "name": "PV voltage"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "d8759259b916bec0"
            ]
        ]
    },
    {
        "id": "d8759259b916bec0",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "c207120c0d06e0bd",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "PV Voltage V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 900,
        "wires": []
    },
    {
        "id": "8248adb2bcf450d3",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "c207120c0d06e0bd",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "PV power W",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 960,
        "wires": []
    },
    {
        "id": "eae5387477bcf711",
        "type": "victron-input-solarcharger",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.solarcharger/278",
        "path": "/Yield/Power",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/278",
            "name": "BlueSolar Charger MPPT 100/30 rev3"
        },
        "pathObj": {
            "path": "/Yield/Power",
            "type": "float",
            "name": "PV Power (W)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "8248adb2bcf450d3"
            ]
        ]
    },
    {
        "id": "6deca40372fff086",
        "type": "victron-input-temperature",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.temperature/26",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/26",
            "name": "Generic Temperature Input"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "1b71f289e8ee0e4d"
            ]
        ]
    },
    {
        "id": "1b71f289e8ee0e4d",
        "type": "ui_text",
        "z": "e1f41c5e52415a27",
        "group": "b36f20ab8bfa4e53",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Temp °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 600,
        "wires": []
    },
    {
        "id": "2a053dcd24b9e2f9",
        "type": "victron-input-tank",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.tank/20",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/20",
            "name": "Carburante SX"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 190,
        "y": 1080,
        "wires": [
            [
                "297a302a813ba2d4"
            ]
        ]
    },
    {
        "id": "80ea579120de60aa",
        "type": "victron-input-tank",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.tank/21",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/21",
            "name": "Carburante DX"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 190,
        "y": 1140,
        "wires": [
            [
                "ccfe6e01bdcecaf7"
            ]
        ]
    },
    {
        "id": "a4073d8afaf3e352",
        "type": "victron-input-tank",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.tank/22",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/22",
            "name": "Generic Tank Input"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 200,
        "y": 1200,
        "wires": [
            [
                "93c81fe7f59890a5"
            ]
        ]
    },
    {
        "id": "297a302a813ba2d4",
        "type": "ui_gauge",
        "z": "e1f41c5e52415a27",
        "name": "",
        "group": "f16ee7b81e785b91",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Gasolio sinistra",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ccfe6e01bdcecaf7",
        "type": "ui_gauge",
        "z": "e1f41c5e52415a27",
        "name": "",
        "group": "f16ee7b81e785b91",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Gasolio dritta",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 1140,
        "wires": []
    },
    {
        "id": "93c81fe7f59890a5",
        "type": "ui_gauge",
        "z": "e1f41c5e52415a27",
        "name": "",
        "group": "f16ee7b81e785b91",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Acqua",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f12e37c259b975e5",
        "type": "victron-input-vebus",
        "z": "e1f41c5e52415a27",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "com.victronenergy.vebus/276"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "2c7b59a88a0aa53e"
            ]
        ]
    },
    {
        "id": "2c7b59a88a0aa53e",
        "type": "change",
        "z": "e1f41c5e52415a27",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 820,
        "wires": [
            [
                "754bcb724baec22b"
            ]
        ]
    },
    {
        "id": "94806990d0daaaab",
        "type": "ui_spacer",
        "z": "e1f41c5e52415a27",
        "name": "spacer",
        "group": "f16ee7b81e785b91",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "67c92ad64f733577",
        "type": "ui_spacer",
        "z": "e1f41c5e52415a27",
        "name": "spacer",
        "group": "f16ee7b81e785b91",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "286920cb0d62eefa",
        "type": "ui_spacer",
        "z": "e1f41c5e52415a27",
        "name": "spacer",
        "group": "f16ee7b81e785b91",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ed915b498164eb4",
        "type": "ui_group",
        "name": "Batteria servizio",
        "tab": "e1fb5f5da41ab35e",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b36f20ab8bfa4e53",
        "type": "ui_group",
        "name": "Batteria Motore",
        "tab": "e1fb5f5da41ab35e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "309b6789dda4c4b5",
        "type": "ui_group",
        "name": "AC system",
        "tab": "e1fb5f5da41ab35e",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c207120c0d06e0bd",
        "type": "ui_group",
        "name": "Solar charger",
        "tab": "e1fb5f5da41ab35e",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f16ee7b81e785b91",
        "type": "ui_group",
        "name": "Livello serbatoi",
        "tab": "e1fb5f5da41ab35e",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1fb5f5da41ab35e",
        "type": "ui_tab",
        "name": "Elly",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]